// Đặt biến màu sắc và kích thước cho dễ quản lý
$primary-color: #484bf9;
$sidebar-bg: #fff;
$sidebar-text-color: #fff;
$main-bg: #f4f4f4;
$card-bg: #fff;
$card-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
$hover-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
$sidebar-width: 250px;
$header-height: 60px;

// Container chính
.container {
    display: flex;
    flex-direction: column; // Để chính xác khi màn hình nhỏ

    .mainContent {
        flex: 1;
        background-color: $main-bg;
        padding: 1rem;
        overflow-y: auto;

        .content_container {
            display: block;
            text-align: center;
            background-color: $card-bg;
            padding: 1rem;
            box-shadow: $card-shadow;
            border-radius: 0.75rem; // Bo góc cho phần tử
            margin-bottom: 1rem;

            .header_content {
                margin-bottom: 10px;

                h1 {
                    margin: 0;
                    font-weight: bold;
                    color: #dc3545; // Đổi màu chữ cho tiêu đề
                    font-size: 3rem; // Điều chỉnh kích thước tiêu đề
                }
            }

            .connection_status {
                margin-bottom: 10px;
                h3 {
                    margin: 0;
                    font-size: 1.5rem;
                }

                .status {
                    font-weight: bold;
                    color: $primary-color;
                }
            }
        }

        .insights {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            margin-bottom: 1rem;

            .insightItem {
                background-color: $card-bg;
                padding: 1rem;
                box-shadow: $card-shadow;
                border-radius: 0.75rem; // Bo góc cho phần tử
                flex: 1;
                display: flex;
                align-items: center;
                justify-content: space-between;
                transition: box-shadow 0.3s ease, transform 0.3s ease; // Thêm hiệu ứng chuyển đổi

                &:hover {
                    box-shadow: $hover-shadow; // Hiệu ứng nổi lên
                    transform: translateY(-5px); // Hiệu ứng di chuyển lên
                }

                .insightContent {
                    display: flex;
                    align-items: center;
                    gap: 1rem;

                    .left {
                        h3 {
                            margin: 0;
                            font-size: 1rem;
                            color: #333; // Đổi màu chữ cho phần left
                        }

                        h1 {
                            margin: 0;
                            font-size: 2rem;
                            font-weight: bold;
                            color: #333; // Đổi màu chữ cho tiêu đề trong phần left
                        }
                    }

                    .icon {
                        font-size: 2rem;
                    }
                }
            }
        }

        .histories {
            h2 {
                margin-bottom: 1rem;
                color: #333; // Đổi màu chữ cho tiêu đề của phần lịch sử
            }
        
            .history_charts {
                display: flex;
                flex-wrap: wrap;
                gap: 1rem;
                justify-content: center; // Căn giữa các biểu đồ

                .history_chart_item {
                    flex: 1 1 calc(33% - 1rem); // Đảm bảo ba biểu đồ trên một hàng với khoảng cách giữa chúng
                    min-width: 300px; // Chiều rộng tối thiểu cho các biểu đồ
                    height: 300px; // Điều chỉnh chiều cao theo nhu cầu
                    background-color: $card-bg;
                    border-radius: 0.75rem; // Bo góc cho phần tử
                    box-shadow: $card-shadow;

                    // Đảm bảo các biểu đồ có độ cao và chiều rộng đầy đủ
                    .react-plotly.js-plot {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        
            // Media query cho màn hình hẹp
            @media (max-width: 768px) {
                .history_charts {
                    flex-direction: column; // Hiển thị các biểu đồ theo chiều dọc khi màn hình nhỏ hơn hoặc bằng 768px
                }
        
                .history_chart_item {
                    min-width: 100%; // Chiếm toàn bộ chiều ngang khi màn hình nhỏ
                    height: 200px; // Điều chỉnh chiều cao theo nhu cầu
                }
            }
        }
        
        .gauges {
            h2 {
                margin-bottom: 1rem;
                color: #333; // Đổi màu chữ cho tiêu đề của phần gauge
            }

            .gauge_charts {
                display: flex;
                gap: 1rem;
                flex-wrap: wrap;

                .plot-container {
                    width: 300px;
                    height: 250px;
                    background-color: $card-bg;
                    border-radius: 0.75rem; // Bo góc cho phần tử
                    box-shadow: $card-shadow;
                    transition: box-shadow 0.3s ease, transform 0.3s ease; // Thêm hiệu ứng chuyển đổi

                    &:hover {
                        box-shadow: $hover-shadow; // Hiệu ứng nổi lên
                        transform: translateY(-5px); // Hiệu ứng di chuyển lên
                    }
                }
            }
        }
    }
}

// Responsive Styles
@media (max-width: 768px) {
    .container {
        flex-direction: column;

        .mainContent {
            padding: 0.5rem;
        }

        .insights,
        .histories,
        .gauges {
            .plot-container,
            .history_chart_item {
                height: 200px; // Điều chỉnh chiều cao cho phù hợp với màn hình nhỏ
            }
        }

        .gauges {
            .gauge_charts {
                flex-direction: column;
                align-items: center;
            }
        }
    }
}

@media (min-width: 769px) and (max-width: 1200px) {
    .container {
        .mainContent {
            padding: 1rem;
        }

        .insights,
        .histories,
        .gauges {
            .plot-container,
            .history_chart_item {
                height: 250px; // Điều chỉnh chiều cao cho màn hình vừa phải
            }
        }

        .gauges {
            .gauge_charts {
                flex-direction: row;
            }
        }
    }
}

@media (min-width: 1201px) {
    .container {
        .mainContent {
            padding: 1rem;
        }

        .insights,
        .histories,
        .gauges {
            .plot-container,
            .history_chart_item {
                height: 300px; // Điều chỉnh chiều cao cho màn hình lớn
            }
        }

        .gauges {
            .gauge_charts {
                flex-direction: row;
            }
        }
    }
}
