@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import './tailwindcss/output.css';
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import "react-tabs/style/react-tabs.css";

#root {
    position: relative;
}


.btn-container {
    visibility: visible;

    .btn-content {

        position  : relative;
        transition: background-color 0.5s ease-in-out;

        .icon-btn-services {
            position : absolute;
            right    : -12px;
            font-size: 20px;
            opacity  : 0;
        }

        &:hover {
            .icon-btn-services {
                opacity  : 1;
                animation: bounceIn 1.5s ease forwards;
            }
        }

        &:not(:hover) {
            .icon-btn-services {
                animation: bounceOut 1.5s ease forwards;
            }
        }
    }

}

@keyframes bounceIn {
    0% {
        transform: translateX(10px);
        opacity  : 0;
    }

    100% {
        transform: translateX(-17px);
        opacity  : 1;
    }
}

@keyframes bounceOut {
    0% {
        transform: translateX(-17px);
        opacity  : 1;
    }

    100% {
        transform: translateX(10px);
        opacity  : 0;
    }
}