*,
*:after,
*:before {
  box-sizing: border-box;
}

.headerContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 140px;
  padding: 20px 30px;
  border-bottom: 5px solid #dc3545;
  background-color: #fff;

  @media (max-width: 740px) {
    height: auto;
    padding: 15px;
    flex-direction: column;
  }

  .topRow {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    @media (max-width: 1400px) {

      .searchBar,
      .cart {
        display: none;
      }
    }

    @media (max-width: 1199px) {
      .dropdownNavigation {
        display: flex;
      }

      .navigation {
        display: none;
      }
    }

    @media (min-width: 1200px) {
      .dropdownNavigation {
        display: none;
      }

      .navigation {
        display: flex;
      }
    }

    .logoLeft {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      img {
        width: 180px;
        height: auto;
      }

      @media (max-width: 740px) {
        justify-content: center;
        width: 100%;
        margin-bottom: 15px;
      }
    }

    .navigation {
      justify-content: center;
      flex-grow: 1;

      .link {
        font-size: 1em;
        color: #000;
        text-decoration: none;
        padding: 10px 15px;
        margin: 0 5px;
        position: relative;

        @media (max-width: 740px) {
          padding: 5px 0;
          font-size: 0.9em;
        }

        &::after {
          content: "";
          display: block;
          width: 0;
          height: 3px;
          background-color: #dc3545;
          position: absolute;
          bottom: -3px;
          left: 50%;
          transform: translateX(-50%);
          transition: width 0.3s ease-in-out;
        }

        &:hover::after {
          width: 100%;
          left: 0;
          transform: translateX(0%);
        }
      }

      .active {
        color: #dc3545;
      }
    }

    .dropdownNavigation {
      align-items: center;
      margin-left: auto;
      font-size: 1em;
    
      .ant_dropdown_link {
        display: flex;
        align-items: center;
        color: #000;
        text-decoration: none;
        margin-right: 20px;
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        font-size: inherit;
        outline: none; /* Loại bỏ viền khi bấm vào */
      
        &:focus {
          outline: none; /* Đảm bảo không có viền khi phần tử được focus */
        }
    
        &:hover {
          color: #dc3545;
        }
    
        svg {
          margin-left: 5px; /* Khoảng cách giữa văn bản và icon */
        }
      }
    }
    

    .searchBar {
      display: flex;
      align-items: center;
      margin-right: 20px;

      .searchInput {
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-radius: 20px 0 0 20px;
        outline: none;
        width: 200px;
        transition: width 0.3s ease;

        @media (max-width: 740px) {
          width: 100%;
        }
      }

      .searchButton {
        padding: 8px 12px;
        border: 1px solid #ccc;
        border-left: none;
        border-radius: 0 20px 20px 0;
        background-color: #dc3545;
        color: white;
        cursor: pointer;

        &:hover {
          background-color: #b52a39;
        }

        .fa-search {
          color: white;
        }
      }

      @media (max-width: 1200px) {
        .searchInput {
          width: 150px;
        }
      }

      @media (max-width: 992px) {
        .searchInput {
          width: 100px;
        }
      }

      @media (max-width: 768px) {
        .searchInput {
          width: 80px;
        }
      }

      @media (max-width: 576px) {
        display: none;
      }
    }


    .cart {
      display: flex;
      align-items: center;
      font-size: 1.5em;
      margin-left: 20px;
      cursor: pointer;
      color: #0056b3;
      transition: color 0.3s ease;

      &:hover {
        color: #8e8f90;
      }

      @media (max-width: 1400px) {
        display: none;
      }
    }

    .device {
      margin-left: 10px;

      button {
        background-color: #dc3545;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        margin-left: 10px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #b52a39;
        }

        @media (max-width: 740px) {
          margin: 10px 0;
          width: 100%;
        }
      }
    }

    .logoRight {
      display: flex;
      align-items: center;
      margin-left: 20px;

      @media (max-width: 740px) {
        justify-content: center;
        width: 100%;
        margin-top: 10px;
      }

      button {
        background-color: #dc3545;
        border: none;
        padding: 8px 12px;
        border-radius: 4px;
        color: white;
        cursor: pointer;
        margin-left: 10px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: #b52a39;
        }

        @media (max-width: 740px) {
          width: 100%;
          margin: 10px 0;
        }
      }

      .ant_dropdown_link {
        display: flex;
        align-items: center;
        color: #000;
        text-decoration: none;
        margin-right: 20px;

        @media (max-width: 740px) {
          justify-content: center;
        }

        &:hover {
          color: #dc3545;
        }
      }
    }
  }
}