
#my-product {
    background-color: transparent;
    z-index         : 2;
    opacity         : 1;

    .option-product {
        background-color: white;
        border-radius   : 4px;
        
    }
}

#my-blog {
    background-color: transparent;
    z-index         : 2;
    opacity         : 1;

    .option-blog {
        background-color: white;
        border-radius   : 4px;
        
    }
}

