
#my-product {
    background-color: transparent;
    z-index         : 2;
    opacity         : 1;

    .option-product {
        background-color: white;
        border-radius   : 4px;
        padding         : 5px 0px;
    }
}

