// .title-product {
//     .icon-product {
//         transform: rotate(0deg);
//     }

//     &:hover .icon-product {
//         animation: spinDer 0.5s ease forwards;
//     }
// }

// @keyframes spinDer {
//     0% {
//         transform: rotate(0deg);
//     }

//     100% {
//         transform: rotate(90deg);
//     }
// }

#my-product {
    background-color: transparent;
    z-index         : 2;
    opacity         : 1;

    .option-product {
        background-color: white;
        border-radius   : 4px;
        padding         : 5px 0px;
    }
}

#option-language {
    background-color: transparent;
    z-index         : 2;
    opacity         : 1;
}